.col-md-4.col-sm-6.col-xs-12
  .advisors__block
    .row
      .col-xs-5
        img(src="img/advisors/Timur-Mukminov.png")
      .col-xs-7
        a(href="https://www.linkedin.com/in/threintm/") Timur Mukminov
          i.icon-linkedin
        b International Relations and Business Intelligence Advisor
        span.line
        p Business Process Advisor: Program Portfolio & Tech. Project Management, Infrastructure, Agile, Global Eng. Management; ex-Program Manager Network Operations at Google Inc. Over 10 years of technical project management, and business intelligence, and applied research & analytical expertise, backed by solid background in IT and infrastructure, and knowledge of multiple foreign languages.
.col-md-4.col-sm-6.col-xs-12
  .advisors__block
    .row
      .col-xs-5
        img(src="img/advisors/Sergey-Skabelkin.png")
      .col-xs-7
        a(href="https://www.linkedin.com/in/sergeyskabelkin/") Sergey Skabelkin
          i.icon-linkedin
        b Strategic Product Development Advisor
        span.line
        p Blockchain Evangelist, Co-founder of FinTechCluster, Mobile wallet and online service enterprise architect. Sergey has deep expertise in Banking and Financial Markets and has demonstrated success in engagement delivery taking managing positions at Russian Standard Bank, Swedbank, PrivatBank.
.col-md-4.col-sm-6.col-xs-12
  .advisors__block
    .row
      .col-xs-5
        img(src="img/advisors/Azamat-Kurbanov.png")
      .col-xs-7
        a(href="https://www.linkedin.com/in/azamat-kurbanov-27206b10/") Azamat Kurbanov
          i.icon-linkedin
        b Marketing Advisor
        span.line
        p Co-founder of telegraf.money who successfully led preICO worth #[span.nowrap $7 000 000]. A self-starter and successful entrepreneur, more than 10 years experience on marketing and creating multimillion worth companies.
.col-md-4.col-sm-6.col-xs-12
  .advisors__block
    .row
      .col-xs-5
        img(src="img/advisors/Bakhram-Fayzutdinov.png")
      .col-xs-7
        a(href="https://www.linkedin.com/in/bakhram-fayzutdinov-97b63b58/") Bakhram Fayzutdinov
          i.icon-linkedin
        b Mobile Product Development and Promotion Advisor
        span.line
        p Founder of Amayasoft company, head of MyBookTools technology development. More than 10 years on programming, product management and business development.
.col-md-4.col-sm-6.col-xs-12
  .advisors__block
    .row
      .col-xs-5
        img(src="img/advisors/Mario-Fiorini.png")
      .col-xs-7
        a(href="https://www.linkedin.com/in/mariofiorini/") Mario Fiorini
          i.icon-linkedin
        b Legal and Gambling Issues Advisor
        span.line
        p Co-Founder of iGamingAdvisors that offers senior international gaming consultancy to all sectors of the gaming industry; CEO of ArenaCube, a software development company offering software services to the iGaming industry.
.col-md-4.col-sm-6.col-xs-12
  .advisors__block
    .row
      .col-xs-5
        img(src="img/advisors/Sergey-Khegay.png")
      .col-xs-7
        a(href="https://www.linkedin.com/in/sergeykhegay/") Sergey Khegay
          i.icon-linkedin
        b Technical Development Advisor
        span.line
        p The member of Monitoring team as Software Engineer at Tech Yahoo with a significant experience in the computer software industry.