form
    p
        img(src='img/united-kingdom.svg')
        = 'ENG'
    i.icon-arrow_drop_down
    select(name="language")
        option(value="") Eng
        option(value="1") Ru
        option(value="2") Gr