li
  a.font-roboto-light-18-px(href="#terms") Terms and Conditions
li
  a.font-roboto-light-18-px(href="#parties") PARTIES TO THESE T&amp;Cs
li
  a.font-roboto-light-18-px(href="#s1") 1. Unilot Platform
li
  a.font-roboto-light-18-px(href="#s2") 2. Scope of T&amp;Cs
li
  a.font-roboto-light-18-px(href="#s3") 3. Purchase Conditions and Restrictions
li
  a.font-roboto-light-18-px(href="#s4") 4. Purchase Periods
li
  a.font-roboto-light-18-px(href="#s5") 5. UNIT Token Price and Bonus Allocation
li
  a.font-roboto-light-18-px(href="#s6") 6. Right to Request Information
li
  a.font-roboto-light-18-px(href="#s7") 7. Creation and Issuance of UNIT Tokens through the Smart Contract System
li
  a.font-roboto-light-18-px(href="#s8") 8. Refunds, Refusals, Suspension and Termination of Contributions
li
  a.font-roboto-light-18-px(href="#s9") 9. Token Functionality
li
  a.font-roboto-light-18-px(href="#s10") 10. Purchaser’s Representations and Warranties
li
  a.font-roboto-light-18-px(href="#s11") 11. Acknowledgement of Risks
li
  a.font-roboto-light-18-px(href="#s12") 12. Audit of the Smart Contract System
li
  a.font-roboto-light-18-px(href="#s13") 13. Security
li
  a.font-roboto-light-18-px(href="#s14") 14. Intellectual Property
li
  a.font-roboto-light-18-px(href="#s15") 15. Indemnity
li
  a.font-roboto-light-18-px(href="#s16") 16. Disclaimers
li
  a.font-roboto-light-18-px(href="#s17") 17. Limitation of Liability
li
  a.font-roboto-light-18-px(href="#s18") 18. Taxation
li
  a.font-roboto-light-18-px(href="#s19") 19. Data Protection
li
  a.font-roboto-light-18-px(href="#s20") 20. Dispute Resolution by Arbitration
li
  a.font-roboto-light-18-px(href="#s21") 21. Miscellaneous
li
  a.font-roboto-light-18-px(href="#schedule1") SCHEDULE 1
li
  a.font-roboto-light-18-px(href="#schedule2") SCHEDULE 2
li
  a.font-roboto-light-18-px(href="#schedule3") SCHEDULE 3