li
  a.font-roboto-light-18-px(href="#affiliate") Affiliate Agreement
li
  a.font-roboto-light-18-px(href="#s1") 1. Scope
li
  a.font-roboto-light-18-px(href="#s2") 2. Qualifying Conditions
li
  a.font-roboto-light-18-px(href="#s3") 3. Obligations of the Company
li
  a.font-roboto-light-18-px(href="#s4") 4. Obligations of the Affiliate
li
  a.font-roboto-light-18-px(href="#s5") 5. Payment
li
  a.font-roboto-light-18-px(href="#s6") 6. Termination
li
  a.font-roboto-light-18-px(href="#s7") 7. Warranties
li
  a.font-roboto-light-18-px(href="#s8") 8. Indemnification
li
  a.font-roboto-light-18-px(href="#s9") 9. Company Rights
li
  a.font-roboto-light-18-px(href="#s10") 10. Governing Law &amp; Jurisdiction
li
  a.font-roboto-light-18-px(href="#s11") 11. Assignment
li
  a.font-roboto-light-18-px(href="#s12") 12. Non-Waiver
li
  a.font-roboto-light-18-px(href="#s13") 13. Relationship of the Parties
li
  a.font-roboto-light-18-px(href="#s14") 14. Changes to this Agreement
li
  a.font-roboto-light-18-px(href="#s15") 15. Trademarks
li
  a.font-roboto-light-18-px(href="#schedule1") Schedule #1