li
  a.font-roboto-light-18-px(href="#bounty") Bounty UNILOT
li
  a.font-roboto-light-18-px(href="#bitcointalk") Bitcointalk
li
  a.font-roboto-light-18-px(href="#translation-community-management") Translation &amp; Community Management
li
  a.font-roboto-light-18-px(href="#facebook") Facebook
li
  a.font-roboto-light-18-px(href="#twitter") Twitter
li
  a.font-roboto-light-18-px(href="#youtube") YouTube
li
  a.font-roboto-light-18-px(href="#reddit") Reddit
li
  a.font-roboto-light-18-px(href="#telegram") Telegram
li
  a.font-roboto-light-18-px(href="#media-blogs") Media and blogs
li
  a.font-roboto-light-18-px(href="#steemit") Steemit.com
li
  a.font-roboto-light-18-px(href="#golos") Golos.io
li
  a.font-roboto-light-18-px(href="#linkedin") Linkedin
li
  a.font-roboto-light-18-px(href="#support") Exclusive support
li
  a.font-roboto-light-18-px(href="#reserve") Reserve