.row.center-xs
  .col-sm-3.col-xs-10
    a(href="https://github.com/unilot" target="_blank").card.network.larger
      i.icon-github
      span.git GitHub
  .col-sm-3.col-xs-10
    a(href="https://t.me/Uniloteng" target="_blank").card.network.larger
      i.icon-telegram
      span Telegram
  .col-sm-3.col-xs-10
    a(href="https://medium.com/@unilot" target="_blank").card.network.larger
      i.icon-medium
      span Medium
  .col-sm-3.col-xs-10
    a(href="https://bitcointalk.org/index.php?topic=2695196.msg27539646#msg27539646" target="_blank").card.network.larger
      i.icon-bitcointalk
      span BitcoinTalk

.row.start-sm.center-xs
  .col-md-2.col-sm-4.col-xs-10.center-xs
    a(href="https://www.reddit.com/user/unilot_platform" target="_blank").card.network
      i.icon-reddit
      span Reddit
  .col-md-2.col-sm-4.col-xs-10.center-xs
    a(href="https://twitter.com/unilot_platform" target="_blank").card.network
      i.icon-twitter
      span Twitter
  .col-md-2.col-sm-4.col-xs-10.center-xs
    a(href="https://www.facebook.com/unilot.io/" target="_blank").card.network
      i.icon-facebook
      span Facebook
  .col-md-2.col-sm-4.col-xs-10.center-xs
    a(href="https://www.linkedin.com/company/18284068/" target="_blank").card.network
      i.icon-linkedin
      span Linkedin
  .col-md-2.col-sm-4.col-xs-10.center-xs
    a(href="https://steemit.com/@unilot" target="_blank").card.network
      i.icon-steemit
      span Steemit
  .col-md-2.col-sm-4.col-xs-10.center-xs
    a(href="https://www.youtube.com/channel/UCNdn2maOQEbYwpNK4Yaoxqw" target="_blank").card.network
      i.icon-YouTube-2.icon-youtube
      span YouTube