.row.center-xs
  .col-sm-4.col-xs-10
    a(href="#").card.network.larger
      i.icon-github
      span.git GitHub
  .col-sm-4.col-xs-10
    a(href="#").card.network.larger
      i.icon-telegram
      span Telegram
  .col-sm-4.col-xs-10
    a(href="#").card.network.larger
      i.icon-medium
      span Medium
.row.start-sm.center-xs
  .col-md-2.col-sm-4.col-xs-10.center-xs
    a(href="#").card.network
      i.icon-reddit
      span Reddit
  .col-md-2.col-sm-4.col-xs-10.center-xs
    a(href="#").card.network
      i.icon-twitter
      span Twitter
  .col-md-2.col-sm-4.col-xs-10.center-xs
    a(href="#").card.network
      i.icon-facebook
      span Facebook
  .col-md-2.col-sm-4.col-xs-10.center-xs
    a(href="#").card.network
      i.icon-linkedin
      span Linkedin
  .col-md-2.col-sm-4.col-xs-10.center-xs
    a(href="#").card.network
      i.icon-steemit
      span Steemit
  .col-md-2.col-sm-4.col-xs-10.center-xs
    a(href="#").card.network
      i.icon-YouTube-2.icon-youtube
      span YouTube