.row.content
  .col-xs-12
    .demo-wrap.wp-slide-wrap
      .slide-wrap__block
      #demo.demo
        ul#example.slide-wrap
          li.pos1
            .inner
              h4 June
                p '17
              p Unilot successful seed-funding round
          li.pos2
            .inner
              h4 September-October
                p '17
              p Board of Advisors and MVP ready to roll
          li.pos3
            .inner
              h4 December
                p '17
              p Pre-ICO arrangements and closed testing
          li.pos4
            .inner
              h4 January 10
                p '18
              p ICO first stage kick-off with up to 25% of ICO equity offered.
          li.pos5
            .inner
              h4 February 15
                p '18
              p ICO second stage with up to 100% of ICO equity offered.
          li.pos6
            .inner
              h4 March 30
                p '18
              p Unilot beta launch under Malta Remote Gaming Licence.#[a(href="#footnote-roadmap" title="See footnote") #[sup.footnote-ref#ref-roadmap]]
          li.pos7
            .inner
              h4 June
                p '18
              p BTC Auction and reality lotteries next games release.
          li.pos8
            .inner
              h4 August-September
                p '18
              p Decentralized platform priority regions localization complete with hosted games and white label options.
          li.pos9
            .inner
              h4 November
                p '18
              p Comprehensive peer betting prognostication and totalizer functionality on hosted games and white label platform.
        .arrows-container
          i#jprev.arrow.prev
          i#jnext.arrow.next
    .swiper-container#swiper-1
      .swiper-wrapper
        .swiper-slide
          h4 June
            p '17
          p Unilot successful seed-funding round
        .swiper-slide
          h4 September-October
            p '17
          p Board of Advisors and MVP ready to roll
        .swiper-slide
          h4 December
            p '17
          p Pre-ICO arrangements and closed testing
        .swiper-slide
          h4 January 10
            p '18
          p ICO first stage kick-off with up to 25% of ICO equity offered.
        .swiper-slide
          h4 February 15
            p '18
          p ICO second stage with up to 100% of ICO equity offered.
        .swiper-slide
          h4 March 30
            p '18
          p Unilot beta launch under Malta Remote Gaming Licence.#[sup.footnote-ref]
        .swiper-slide
          h4 June
            p '18
          p BTC Auction and reality lotteries next games release.
        .swiper-slide
          h4 August-September
            p '18
          p Decentralized platform priority regions localization complete with hosted games and white label options.
        .swiper-slide
          h4 November
            p '18
          p Comprehensive peer betting prognostication and totalizer functionality on hosted games and white label platform.
    .swiper-button-prev#prev1
      i.icon-chevron-thin-left
    .swiper-button-next#next1
      i.icon-chevron-thin-right
.row.content
  .col-md-12
    p.footnote#footnote-roadmap
        a(href="#ref-roadmap" title="Back to text")
          sup
        small
          a(href="http://www.mga.org.mt/gaming-sectors/remote-gaming/" target="_blank") http://www.mga.org.mt/gaming-sectors/remote-gaming/