img(src="img/function-1.png", alt="")
p.legend.purple 62% Purchasers
p.legend.lightblue 10% Reserve
p.legend.lightgreen 3% Bounty
p.legend.lilac 10% Referral and Bonus Program
p.legend.coral 5% Advisors
p.legend.blue 10% Team