.row.content
  .col-md-12
    .row
      .col-lg-5.col-md-5.col-sm-12.col-xs-12
        p A total of #[span.nowrap 500 000 000 UNIT] tokens will be issued without any additional tokens. Unsold tokens will be burned after ICO. We accept only ETH.
        table.table.table-summary
          tr
            td.td-label Token name: 
            td Unilot
          tr
            td.td-label Ticker: 
            td UNIT
          tr
            td.td-label Project protocol: 
            td ERC20
          tr
            td.td-label Total tokens supply: 
            td
              span.nowrap 500 000 000 UNIT
          tr
            td.td-label Total tokens for sale: 
            td
              span.nowrap 310 000 000 UNIT
          tr
            td.td-label Price: 
            td 1 UNIT = 0.000079 ETH
          tr
            td.td-label MIN transaction: 
            td 1 UNIT = 1 UNIT (0.000079 ETH)
          tr
            td.td-label MAX transaction: 
            td 379 746 UNIT (30 ETH)


      .col-lg-7.col-md-7.col-sm-12.col-xs-12.tab-wrapper
        ul.nav.nav-tabs(role='tablist')
          li.active(role='presentation')
            a(href='#details-presale', role='tab', aria-controls='details-presale', data-toggle='tab') Presale details
          li(role='presentation')
            a(href='#details-ico-1', role='tab', aria-controls='details-ico-1', data-toggle='tab') ICO Stage I
          li(role='presentation')
            a(href='#details-ico-2', role='tab', aria-controls='details-ico-2', data-toggle='tab') ICO Stage II

        .tab-content
          #details-presale.tab-pane.active(role='tabpanel')
            table.table
              tr
                td Start date: 
                td January 10th, 2018, at 19:00 UTC
              tr
                td End date: 
                td February 17th, 2018, at 19:00 UTC
              tr
                td Available tokens: 
                td
                  span.nowrap 25 000 000 UNIT
              tr
                td Price: 
                td 1 ETH = 12 658 UNIT
              tr
                td Bonus: 
                td 40% (pay for #[span.nowrap 10 000 UNIT], get #[span.nowrap 14 000 UNIT])

          #details-ico-1.tab-pane(role='tabpanel')
            table.table
              tr
                td Start date: 
                td February 22th, 2018, at 19:00 UTC
              tr
                td End date: 
                td March 22th, 2018, at 19:00 UTC
              tr
                td Available tokens: 
                td
                  span.nowrap 142 500 000 UNIT
              tr
                td Price: 
                td 1 ETH = 12 658 UNIT
              tr
                td Bonus: 
                td
                  p step 1: 35% (pay for #[span.nowrap 10 000 UNIT], get #[span.nowrap 13 500 UNIT])
                  p step 2: 30% (pay for #[span.nowrap 10 000 UNIT], get #[span.nowrap 13 000 UNIT]) 
                  p step 3: 25% (pay for #[span.nowrap 10 000 UNIT], get #[span.nowrap 12 500 UNIT]) 
                  p step 4: 20% (pay for #[span.nowrap 10 000 UNIT], get #[span.nowrap 12 000 UNIT])

          #details-ico-2.tab-pane(role='tabpanel')
            table.table
              tr
                td Start date: 
                td April 20th, 2018, at 19:00 UTC
              tr
                td End date: 
                td May 20th, 2018, at 19:00 UTC
              tr
                td Available tokens: 
                td #[span.nowrap 142 500 000 UNIT] + unsold tokens from Presale and ICO stage 1 (without bonus)
              tr
                td Price: 
                td 1 ETH = 12 658 UNIT
