img(src="img/function-2.png", alt="")
p 40% Marketing
  span.purple
p 30% Platform Development and expansion
  span.green
p 15% Business Development and Partnerships
  span.lilac
p 10% Legal and Misc Operations
  span.blue
p 5% Consultants
  span.yellow