img(src="img/function-2.png", alt="")
p.legend.purple 40% Marketing
p.legend.mint 30% Platform Development and expansion
p.legend.lilac 15% Business Development and Partnerships
p.legend.lightblue 10% Legal and Misc Operations
p.legend.pink 5% Consultants