extends include/layout.pug
block content
  section.error
    .container
      .row.center-lg.center-md.center-sm.center-xs
        .col-md-12
          h1 Oops!
          p We are sorry, but the page you are looking for can’t be found!
          p.error-code Error code: 404
          img(src='img/error.gif')