extends include/layout.pug
block content
  section.faq
    .container
      .row
        .col-md-12
          .heading
            h2 Frequently Asked Questions
            p Here are some common questions about Unilot and whole Lottery Platform

      .row
        .col-md-6
          .question
            h4 1. What makes Unilot different from all other competitors?
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum in, quia dignissimos veniam corrupti at deserunt nisi libero quasi incidunt, maiores, atque suscipit doloremque unde possimus quod rerum sit. Dolores. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum in, quia dignissimos veniam corrupti at deserunt nisi libero quasi incidunt, maiores, atque suscipit doloremque unde possimus quod rerum sit. Dolores.
          .question
            h4 2. Is Unilot licensed online gambling site?
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum in, quia dignissimos veniam corrupti at deserunt nisi libero quasi incidunt, maiores, atque suscipit doloremque unde possimus quod rerum sit. Dolores.
          .question
            h4 3. Why the use of blockchain?
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum in, quia dignissimos veniam corrupti at deserunt nisi libero quasi incidunt, maiores, atque suscipit doloremque unde possimus quod rerum sit. Dolores.