extends include/layout.pug
block content
	section.sentence
		.container
			.scene
				div(data-depth='0.6') 
					img(src="img/sentence-bg.png", alt="")
			.row
				.col-sm-8.col-xs-12
					h1 Initial Coin Offering Pre-sale Started
					p Bonus Expires In:
					.sentence__timer
						.row
							.col-xs-12
								span.js-countdown
							.col-xs-12.flex
								b Days
								b Hours
								b Minutes
								b Seсs
							.col-xs-12.end-xs
								p Goal $1,000,000 (1,5 Million UNT)
					.row
						.col-xs-12
							.sentence__scale
								p $834,343 Raised
								.sentence__scale_block
									span 49%
						.col-sm-4.col-xs-12.center-xs
							.sentence__block.sentence__block--padding
								p Current bonus
								span 40%
						.col-sm-4.col-xs-12.center-xs
							.sentence__block.sentence__block--padding
								p min commitment
								span 0.5 ETH
						.col-sm-4.col-xs-12.center-xs
							.sentence__block
								p gas limit
								span 40%
						.col-xs-12.start-sm.center-xs
							a(href="#").btn Contribute Now
				.col-sm-4.end-xs
					img(src="img/sentence.png", alt="")
	section.about#link1
		.container
			.row
				.col-xs-12
					.heading
						h2 What is Unilot
						span Who we are
				.col-md-5.col-sm-7.col-xs-12
					p <b>Unilot</b> is Decentralized Lottery Based on<br> <b>Ethereum Smart Contracts.</b><br>The maximum amount of raised funding is $12 000 000. This will help to speed up the expansion of the project, increase the amount of guaranteed prize fund and accelerate the launch of new drawings. <b>Unilot</b> is Decentralized Lottery Based on <b>Ethereum Smart Contracts.</b>
					p The maximum amount of raised funding is $12 000 000. This will help to speed up the expansion of the project, increase the amount of guaranteed prize fund and accelerate the launch of new drawings.
				.col-md-7.col-sm-5
					img(src="img/about.png", alt="")
	section.advantages
		.container
			.row
				.col-xs-12
					.heading
						h2 Unilot Benefits
						span Benefits
				.col-sm-6.col-xs-12
					.advantages__block.advantages__block--margin
						.row.middle-xs
							.col-xs-3
								img(src="img/01.svg", alt="")
							.col-xs-9
								p Unilot will not access or hold any Player Funds
				.col-sm-6.col-xs-12
					.advantages__block
						.row.middle-xs
							.col-xs-3
								img(src="img/02.svg", alt="")
							.col-xs-9
								p Consensus of game state is reached between players with encrypted P2P messaging
				.col-sm-6.col-xs-12
					.advantages__block.advantages__block--margin
						.row.middle-xs
							.col-xs-3
								img(src="img/03.svg", alt="")
							.col-xs-9
								p Play games globally or make money by hosting your own game tournaments
				.col-sm-6.col-xs-12
					.advantages__block
						.row.middle-xs
							.col-xs-3
								img(src="img/04.svg", alt="")
							.col-xs-9
								p Feature Single player RNG & Multiplayer games
				.col-sm-6.col-xs-12
					.advantages__block.advantages__block--margin
						.row.middle-xs
							.col-xs-3
								img(src="img/05.svg", alt="")
							.col-xs-9
								p Decintrilized and isolated to prevent God Mode
				.col-sm-6.col-xs-12
					.advantages__block
						.row.middle-xs
							.col-xs-3
								img(src="img/06.svg", alt="")
							.col-xs-9
								p Unilot platform can be Whitelabeled
	section.client
		.container
			.scene1
				div(data-depth='0.5') 
					img(src="img/client-bg.png", alt="")
			.row
				.col-xs-12
					.heading
						h2 Mobile Client
						span Mobile App
				.col-sm-7.col-xs-12
					p Unilot Mobile Client will be available on iOS and Android platforms. Unilot mobile will support multiple regions, languages offered English, Russian and German
			.row.start-sm.center-xs
				.col-md-5.col-sm-7.col-xs-12
					.client__app
						.row
							.col-sm-6.col-xs-12
								a(href="#")
									.row
										.col-xs-3
											img(src="img/google-play.svg", alt="")
										.col-xs-9
											p Download on the
											span Google Play
							.col-sm-6.col-xs-12
								a(href="#")
									.row
										.col-xs-3
											img(src="img/apple.svg", alt="")
										.col-xs-9
											p Download on the
											span App Store
					.client__lng
						a(href="#")
							img(src="img/spain.svg", alt="")
						a(href="")
							img(src="img/china.svg", alt="")
						a(href="")
							img(src="img/russia.svg", alt="")
						a(href="")
							img(src="img/united-kingdom.svg", alt="")
						a(href="")
							img(src="img/germany.svg", alt="")
				.col-md-7.col-sm-5
					.client__img
						img(src="img/client.png", alt="")
	section.roadmap
		.container
			.row
				.col-xs-12
					.heading
						h2 Roadmap
						span Roadmap
					.demo-wrap
						.slide-wrap__block
						#demo.demo
							ul#example.slide-wrap
								li.pos1
									.inner
										h4 May6
											p '18
										ul
											li Token Distribution
											li Token Distribution
								li.pos2
									.inner
										h4 May6
											p '19
										ul
											li Token Distribution
											li Token Distribution
								li.pos3
									.inner
										h4 May6
											p '20
										ul
											li Token Distribution
											li Token Distribution
								li.pos4
									.inner
										h4 May6
											p '21
										ul
											li Token Distribution
											li Token Distribution
								li.pos5
									.inner
										h4 May6
											p '22
										ul
											li Token Distribution
											li Token Distribution
								li.pos6
									.inner
										h4 May6
											p '23
										ul
											li Token Distribution
											li Token Distribution
								i#jprev.arrow.prev
								i#jnext.arrow.next
					.swiper-container#swiper-1
						.swiper-wrapper
							.swiper-slide
								h4 May6
									p '18
								ul
									li Token Distribution
									li Token Distribution
							.swiper-slide
								h4 May6
									p '18
								ul
									li Token Distribution
									li Token Distribution
							.swiper-slide
								h4 May6
									p '18
								ul
									li Token Distribution
									li Token Distribution
							.swiper-slide
								h4 May6
									p '18
								ul
									li Token Distribution
									li Token Distribution
					.swiper-button-prev#prev1
						i.icon-chevron-thin-left
					.swiper-button-next#next1
						i.icon-chevron-thin-right


	section.function
		.container
			.row
				.col-md-7.col-xs-12
					.heading
						h2 Token Distribution
						span Tokens
					img(src="img/function-1.png", alt="")
					p 78% Purchasers 
						span.purple
					p 12% Team 
						span.green
					p 10% Early Adopters & Founders 
						span.blue
				.col-md-5.col-xs-12
					.heading.h2
						h2 Use of Funds
						span Flow
					img(src="img/function-2.png", alt="")
					p 40% Marketing
						span.purple
					p 30% Platform Development and expansion
						span.green
					p 15% Business Development and Partnerships
						span.lilac
					p 10% Legal and Misc Operations
						span.blue
					p 5% Consultants
						span.yellow
	section.whitepaper#link2
		.container
			.scene2
				div(data-depth='0.5') 
					img(src="img/whitepaper-bg.png", alt="")
			.row
				.col-xs-12
					.heading
						h2 Whitepaper
						span Whitepaper 
				.col-sm-5.col-xs-12
					p Read our whitepaper in order to know more about the Unilot® platform, the token, the team and ICO round details.
				.col-xs-12
					a(href="#").btn View White Paper
						i.icon-file-text2
					span English	|	Русский	|	中文	|	Español	|	Français	|	Italiano	|	日本語
	section.roadshow
		.container
			.row
				.col-xs-12
					.heading
						h2 Roadshow
						span Roadshow 
					.swiper-container#swiper-2
						.swiper-wrapper
							.swiper-slide
								h4 1-5
								p November 2017
								.swiper-slide__block
									img(src="img/swiper-slide-1.png", alt="")
									p Blockchain & Bitcoin Conference
									.row
										.col-xs-6
											span Moscow
										.col-xs-6.end-xs
											a(href="#")
												img(src="img/swiper-i.png", alt="")
							.swiper-slide
								h4 20-23
								p November 2017
								.swiper-slide__block
									img(src="img/swiper-slide-2.png", alt="")
									p GCC Blockchain Conference
									.row
										.col-xs-6
											span Dubai
										.col-xs-6.end-xs
											a(href="#")
												img(src="img/swiper-i.png", alt="")
							.swiper-slide
								h4 15-20
								p December 2017
								.swiper-slide__block
									img(src="img/swiper-slide-3.png", alt="")
									p Blockchain & Bitcoin Conference
									.row
										.col-xs-6
											span London
										.col-xs-6.end-xs
											a(href="#")
												img(src="img/swiper-i.png", alt="")
							.swiper-slide
								h4 1-5
								p November 2017
								.swiper-slide__block
									img(src="img/swiper-slide-1.png", alt="")
									p Blockchain & Bitcoin Conference
									.row
										.col-xs-6
											span Moscow
										.col-xs-6.end-xs
											a(href="#")
												img(src="img/swiper-i.png", alt="")
							.swiper-slide
								h4 20-23
								p November 2017
								.swiper-slide__block
									img(src="img/swiper-slide-2.png", alt="")
									p GCC Blockchain Conference
									.row
										.col-xs-6
											span Dubai
										.col-xs-6.end-xs
											a(href="#")
												img(src="img/swiper-i.png", alt="")
							.swiper-slide
								h4 15-20
								p December 2017
								.swiper-slide__block
									img(src="img/swiper-slide-3.png", alt="")
									p Blockchain & Bitcoin Conference
									.row
										.col-xs-6
											span London
										.col-xs-6.end-xs
											a(href="#")
												img(src="img/swiper-i.png", alt="")
						.swiper-pagination
					.swiper-button-prev#prev
						i.icon-chevron-thin-left
					.swiper-button-next#next
						i.icon-chevron-thin-right
	section.advisors
		.container
			.row
				.col-xs-12
					.heading
						h2 Advisors
						span Our Advisors
			.row
				.col-md-4.col-sm-6.col-xs-12
					.advisors__block
						.row
							.col-xs-5
								img(src="img/advisors/Council.png", alt="")
							.col-xs-7
								a(href="#") COUNCIL
									i.icon-linkedin
								b Legal issues partner
								span
								p The company works in a partnership agreement with a number of leading legal companies of Russia, Europe, the USA, and South Korea. 
				.col-md-4.col-sm-6.col-xs-12
					.advisors__block
						.row
							.col-xs-5
								img(src="img/advisors/Timur-Mukminov.png", alt="")
							.col-xs-7
								a(href="#") Timur Mukminov
									i.icon-linkedin
								b International Relations and Business	Intelligence advisor
								span
								p Business Process Advisor: Program Portfolio & Tech. Project Management, Infrastructure, Agile, Global Eng. Management; ex-Program Manager Network Operations at Google Inc. 
				.col-md-4.col-sm-6.col-xs-12
					.advisors__block
						.row
							.col-xs-5
								img(src="img/advisors/Sergey-Skabelkin.png", alt="")
							.col-xs-7
								a(href="#") Sergey Skabelkin
									i.icon-linkedin
								b Strategic product development advisor
								span
								p Blockchain Evangelist, Co-founder of FinTechCluster, Mobile wallet and online service enterprise architect, CEO of playhall.io
				.col-md-4.col-sm-6.col-xs-12
					.advisors__block
						.row
							.col-xs-5
								img(src="img/advisors/Azamat-Kurbanov.png", alt="")
							.col-xs-7
								a(href="#") Azamat Kurbanov
									i.icon-linkedin
								b Marketing advisor
								span
								p Co-founder of telegraf.money who successfully led preICO worth $7 000 000. A self-starter and successful entrepreneur, more than 10 years experience on marketing and creating multimillion worth companies.
				.col-md-4.col-sm-6.col-xs-12
					.advisors__block
						.row
							.col-xs-5
								img(src="img/advisors/Bagrinovski-Bogdan.png", alt="")
							.col-xs-7
								a(href="#") Bagrinovski Bogdan
									i.icon-linkedin
								b Expert in Blockchain Loterry
								span
								p More then 10 year experience in Auction and Lottery business, creating brands like Intuitsia, Credsberry etc. 
				.col-md-4.col-sm-6.col-xs-12
					.advisors__block
						.row
							.col-xs-5
								img(src="img/advisors/Bakhram-Fayzutdinov.png", alt="")
							.col-xs-7
								a(href="#") Bakhram Fayzutdinov
									i.icon-linkedin
								b Mobile product development and promotion advisor
								span
								p Founder of Amayasoft company, head of MyBookTools technology development. More than 10 years on programming, product management and business development.
	section.team
		.container
			.row
				.col-xs-12
					.heading
						h2 Team
						span Unilot Team
			.row.center-xs
				.col-md-3.col-sm-4.col-xs-12
					a(href="#")
						img(src="img/team/Ilya-Son.png", alt="")
						p Ilya Son
							i.icon-linkedin
						b Founder
						span
				.col-md-3.col-sm-4.col-xs-12
					a(href="#")
						img(src="img/team/Alexander-Lushnikov.png", alt="")
						p Alexander Lushnikov
							i.icon-linkedin
						b Smart contracts developer
						span
				.col-md-3.col-sm-4.col-xs-12
					a(href="#")
						img(src="img/team/Arseniy-Aganov.png", alt="")
						p Arseniy Aganov
							i.icon-linkedin
						b Senior Android developer
						span
				.col-md-3.col-sm-4.col-xs-12
					a(href="#")
						img(src="img/team/Shovkat-Kukanbaev.png", alt="")
						p Shovkat Kukanbaev
							i.icon-linkedin
						b UI/UX Designer
						span
				.col-md-3.col-sm-4.col-xs-12
					a(href="#")
						img(src="img/team/Darya-Kadirova.png", alt="")
						p Darya Kadirova
							i.icon-linkedin
						b Marketing manager
						span
				.col-md-3.col-sm-4.col-xs-12
					a(href="#")
						img(src="img/team/Azat-Khuziyakhmetov.png", alt="")
						p Azat Khuziyakhmetov
							i.icon-linkedin
						b Backend developer
						span
				.col-md-3.col-sm-4.col-xs-12
					a(href="#")
						img(src="img/team/Bakhodir-Ashirmatov.png", alt="")
						p Bakhodir Ashirmatov
							i.icon-linkedin
						b Senior iOS developer
						span
				.col-md-3.col-sm-4.col-xs-12
					a(href="#")
						img(src="img/team/Daniel-Khalupskiy.png", alt="")
						p Daniel Khalupskiy
							i.icon-linkedin
						b PR
						span
	section.faq#link3
		.container
			.row
				.col-xs-12
					.heading
						h2 FAQ's
						span FAQ's
				.col-md-5.col-sm-7.col-xs-12
					.faq__block.faq__block--one
						a.closed Is Unilot licensed online gambling site?
							i.icon-chevron-thin-down
						p.name Sales are officially OPEN now, you can message me anytime if you have poblem or questions. It's Beta version of apps so please send me any comment that you have or saw. Let's get ready to rumble
					.faq__block
						a What makes Unilot different from all other competitors?
							i.icon-chevron-thin-down
						p.name Sales are officially OPEN now, you can message me anytime if you have poblem or questions. It's Beta version of apps so please send me any comment that you have or saw. Let's get ready to rumble
					.faq__block
						a Why the use of blockchain?
							i.icon-chevron-thin-down
						p.name Sales are officially OPEN now, you can message me anytime if you have poblem or questions. It's Beta version of apps so please send me any comment that you have or saw. Let's get ready to rumble
					.faq__block
						a Will U.S. Citizens be able to participate?
							i.icon-chevron-thin-down
						p.name Sales are officially OPEN now, you can message me anytime if you have poblem or questions. It's Beta version of apps so please send me any comment that you have or saw. Let's get ready to rumble
					.faq__block
						a How can I participate?
							i.icon-chevron-thin-down
						p.name Sales are officially OPEN now, you can message me anytime if you have poblem or questions. It's Beta version of apps so please send me any comment that you have or saw. Let's get ready to rumble
					.faq__block
						a Is Unilot licensed online gambling site?
							i.icon-chevron-thin-down
						p.name Sales are officially OPEN now, you can message me anytime if you have poblem or questions. It's Beta version of apps so please send me any comment that you have or saw. Let's get ready to rumble
					a.btn Show all FAQ topics
					






