extends include/layout.pug

block vars
    -var isWhitePaper = true;

block content
  #whitepaper
    section.white
      .container
        .row.heading
          .col-md-12
            h2 Unilot White Paper
            p 2018 | Ver 1.0
        .row.content
          .col-md-12
            figure
              blockquote
                h4 Dear Gamers, Dear Investors,
                p Unilot appeared as a unique amalgam of bold vision, revolutionary ideas, social experiment, and elegant application of cutting edge technology. Unilot is driven by an important social mission in its core: to build the world's most transparent, secure, and diverse betting platform. Made possible by the advent of Blockchain, Unilot launches a truly universal arena to gambling, betting, and prognostication. It is there to leverage the players' abilities and creativity while providing the atmosphere of safety and integrity far beyond those found in modern gambling.
                p We believe that the house does not always have to win. That is why in Unilot, we decided not to have a House for our players to compete against. We believe that math doesn't lie and can make cheating impossible. That is why we offer our players a pure chance to wager against each other's odds, We believe that sharing is truly caring. Thus we offer freedom of choice and multiple second chances and consolation rounds to all members of our community. While we believe in respecting the laws of the land, we also believe in people's fundamental right to make their own judgement when to try their luck as well as enjoy the opportunity to create their own rules when making a bet.
                p Unilot may seem like a magical little playground that resides on your phone or computer screen, but it opens a door to the place, where the whole world comes together for a fun and engaging experience with odds never rigged unless they are occasionally stacked into players' favor.
                p We pledge to review any community's feedback and keep the records open for anyone to audit building trust and openness standards like never before.
                p Dive in, read about us, talk to us, play with us and have fun!
              figcaption
                img(src="img/whitepaper/ilya-sohn.png" alt="Ilya Sohn, CEO")

    section.dark
      .container
        .row.heading.text-bg
          .col-md-12
            h2 Abstract
            span Abstract
        .row.content
          .col-md-6
            p Unilot uses blockchain to run a decentralized universal gambling platform for players to bet, host, and in future create their own games ranging from pure chance lotteries, to poker tournaments, and prognostication-based totalizers. We are working to make Unilot available on the Web, iOS and Android and in multiple languages in addition to current English and Russian.
            p To facilitate the exchange, Unilot platform transacts in its own currency “UNIT” while accepting most cryptocurrencies and other legal means of tender in appropriate jurisdictions. The purpose of this White Paper is to demonstrate Unilot’s technology and solutions it offers, as well as demonstrate the mature business expertise behind the founding team’s vision.
          .col-md-6
            img(src="img/client.png")

    section#toc.white
      .container
        .row.heading.text-bg
          .col-md-12
            h2 Table of Contents
            span Table of Contents
        .row.content
          .col-md-6
            ol.numbered
              li
                a(href="#s1-introduction") Introduction
              li
                a(href="#s2-market") Market &amp; Industry
              li
                a(href="#s3-product") Product Details
                ul.bulleted.nested
                  li
                    a(href="#s3-1") Unilot Features &amp; Benefits
                  li
                    a(href="#s3-2") Unilot Games
                    ul.bulleted.nested
                      li
                        a(href="s3-2-1") Global Games
                      li
                        a(href="s3-2-2") Hosted Games
              li
                a(href="#s4-business-model") Unilot Business Model
                ul.bulleted.nested
                  li
                    a(href="#s4-1") Primary Revenue Generation Model
                  li
                    a(href="#s4-2") Secondary Revenue Generation Models
                    ul.bulleted.nested
                      li
                        a(href="s4-2-1") Advertising Revenues
                      li
                        a(href="s4-2-2") Affiliate Marketing
                      li
                        a(href="s4-2-3") Additional Merchandising
              li
                a(href="#s5-technology") Technology &amp; Transparency
                ul.bulleted.nested
                  li
                    a(href="#s5-1") Unilot Gameplay Logistics
                    ul.bulleted.nested
                      li
                        a(href="s5-1-1") Smart Contracts
                      li
                        a(href="s5-1-2") Identity Management
                      li
                        a(href="s5-1-3") Gameplay Consensus, Client Synchronization, and Log Storage
                  li
                    a(href="#s5-2") Unilot Business Intelligence Suite
              li
                a(href="#s6-client") Unilot Mobile Wallet &amp; Gaming Client
              li
                a(href="#s7-roadmap") Product Roadmap
          .col-md-6
            ol#wp-toc-continue
              li
                a(href="#s8-sale") Token Sale
                ul.bulleted.nested
                  li
                    a(href="#s8-1") Presale Stage
                  li
                    a(href="#s8-2") ICO Stage 1
                  li
                    a(href="#s8-3") ICO Stage 2
              li
                a(href="#s9-distribution") Token Distribution and Use of Funds
              li
                a(href="#s10-team") The Project Team
              li
                a(href="#s11-advisors") Advisory Board
              li
                a(href="#s12-contact") Contact Us
            img(src="img/about.png")

    section.numbered#s1-introduction.white
      .container
        .row.heading.text-bg
          .col-md-12
            h2 Introduction
            span Introduction
        .row.content
          .col-md-12
            p With online gambling market projected to reach nearly $60B by 2020#[a(href="#footnote-intro" title="See footnote") #[sup.footnote-ref#ref-intro]], both the quickly-evolving regulatory landscape and criminal practices turn away consumers reducing their trust and peace of mind. Here at Unilot, we made it our strategic priority to successfully tackle regulatory limitations that vary drastically from one jurisdiction to another, and mitigate consumer mistrust.
            p To deal with regulations, games offered through Unilot will vary based on the player's geographic location. We are building an intelligent system capable of detecting which games to offer and which ones to lock. Furthermore, Unilot continues to secure licenses in various jurisdictions to expand its user-base.
            p Unilot leverages decentralized gaming on blockchain to effectively address consumer mistrust, featuring some core fair-play fundamentals:
          .col-md-7
            ol.roman     
              li Unilot runs on Smart Contacts to keep games' records open and transparent and players' funds in independent escrow, outside Unilot's reach
              li Unilot explicitly eliminated the possibility of having a view access to the deck, thus preventing so-called "God Mode" that plagued online gaming industry for years.
              li Our goal is to reinvigorate online gambling with Ethereum blockchain, radically improving end-user experience through player-self-managed identification, absurdly low fees, and inviolable guarantee of instant pay on winnings.
            p.footnote#footnote-intro
              a(href="#ref-intro" title="Back to text")
                sup
              small See more detailed summary and explanation to figures at: #[a(href="https://www.statista.com/statistics/270728/market-volume-of-online-gaming-worldwide/" target="_blank") https://www.statista.com/statistics/270728/market-volume-of-online-gaming-worldwide/]
          .col-md-5.col-xs-12.text-center
            img(src="img/sentence.png")

    section.numbered#s2-market.white
      .container
        .row.heading.text-bg
          .col-md-12
            h2 Market &amp; Industry
            span Market &amp; Industry
        .row.content
          .col-md-12
            p Online gambling industry has been plagued by inability to tackle high tech cheating and lack of transparency. To name a few, 2008 and 2011 online poker scandals led to online gambling bans in some countries.
            p Though it was off to a rocky start, online gambling is well poised to become the gambling industry's fastest-growing sector, and accounts for 11% of the $385B of gambling profits posted in 2016. These numbers are only set to grow as regulations worldwide are loosening their stance toward online betting.
            p According to H2 Gambling Capital, total revenues in 2016 from online gambling posted staggering $44B with online betting responsible for nearly a half of the total amount#[a(href="#footnote-market" title="See footnote") #[sup.footnote-ref#ref-market]]. Market projections show this number to grow to $47.4 Billion USD in 2017 and over $60 billion by 2020. 
        .row.content
          .col-md-4.col-md-offset-1.col-xs-12
            table.table.table-bordered
              tbody
                tr
                  td.legend
                    span.red
                  td Bingo
                  td $2B
                tr
                  td.legend
                    span.blue
                  td Logical
                  td $2.2B
                tr
                  td.legend
                    span.yellow
                  td Poker
                  td $2.75B
                tr
                  td.legend
                    span.green
                  td Lottery
                  td $3.85B
                tr
                  td.legend
                    span.mint
                  td Betting
                  td $11.8B
                tr
                  td.legend
                    span.purple
                  td Casino
                  td $21.4B
              tfoot
                tr
                  td.legend
                  td Total
                  td $44B
          .col-md-6.col-md-offset-1.text-center
            img(src="img/whitepaper/online-gambling-market.png", alt="Total revenues in 2016 from online gambling")
        .row.content
          .col-md-6.text-center
            img(src="img/whitepaper/daily-drawing.png")
          .col-md-6
            p Unilot is designed with a product diversity in mind. Its platform will feature a broad range of gambling venues from specific games to prognostication-based betting in compliance with specific jurisdiction regulations on games and currencies. Unilot mobile client already comes with a fully functional lottery. Next games slated for rollout are Poker and Bingo.
            p Unilot aims to get licensed in every jurisdiction open to online gambling & and lottery as it expands its user-base. Unilot launch will include licensing from Malta Remote Gaming License on March 2018 #[br]
              a(href="http://www.mga.org.mt/gaming-sectors/remote-gaming/" target="_blank") http://www.mga.org.mt/gaming-sectors/remote-gaming/
            p.footnote#footnote-market
              a(href="#ref-market" title="Back to text")
                sup
              small 
                a(href="http://h2gc.com/" target="_blank") http://h2gc.com/

    section.numbered#s3-product.white
      .container
        .row.heading.text-bg
          .col-md-12
            h2 Product Details
            span Product Details
        .row.content
          .col-md-8
            p Unilot is a decentralized gaming platform with focus on transparency and security. Unilot client runs iOS and Android mobile apps offered through multiple languages (starting with English, Chinese, Russian etc)
            p After Unilot's launch, players should expect the following games:
        .row.content
          .col-md-3
            ul.bulleted
              li Lottery
              li Poker
          .col-md-3
            ul.bulleted
              li Bingo
              li Social betting
          .col-md-3
            ul.bulleted
              li Auction
              li Casino
    section#s3-1
      .container
        .row.sub.heading
          h3 Unilot Features &amp; Benefits
        .row.content
          .col-md-2
            img(src="img/02.svg")
          .col-md-6
            p Elimination of deposit risk: player retains a full custody over their funds until the game outcome. Instead of landing into any of Unilot-controlled accounts, the funds are directed into an independent Escrow on Smart Contract that distributes the proceeds according to game rules and outcomes
        .row.content
          .col-md-2
            img(src="img/05.svg")
          .col-md-6
            p Gameplay fairness and transparency is achieved with having all players at table reaching a consensus done on blockchain network. Actions like card shuffling occur with all the players involved. Game play is recorded on blockchain ledger ensuring an unparalleled integrity.
        .row.content
          .col-md-2
            img(src="img/01.svg")
          .col-md-6
            p Since the games run on peer-to-peer blockchain and smart contracts, Unilot completely eliminates any access to individual player's cards. Players' cards are only visible to the players themselves.
        .row.content
          .col-md-2
            img(src="img/03.svg")
          .col-md-6
            p Unilot is all about a more balanced and fair gambling network. Using Ethereum network and Ethereum smart contracts eliminates costly server hosting fees and disputes arising from handling players' funds. The savings are passed on to the players.
    section#s3-2
      .container
        .row.sub.heading
          h3 Unilot Games
        .row.content
          .col-md-8
            .row
              .col-md-12
                p Unilot mobile client features two modes available to players: Global & Hosted Games.
            .row#s3-2-1
              .col-md-12
                h4 Global Games
                p All global games offered are open to anyone on Unilot platform meeting individual local jurisdiction requirements. Games will include minimum pot size before game starts, multiple or single winner settings.
            .row#s3-2-2
              .col-md-12
                h4 Hosted Games
                p In line with Unilot's mission, hosting games will allow players to generate their own income by hosting their own games on Unilot platform. Players may set their minimum ante, game type and invite others to participate. Games are by invite-only and otherwise remain invisible to global community.
                p Hosting functionality is what makes Unilot truly stand out from most online lotteries by creating a comprehensive platform for current and future peer-betting venues. Players will be able to host any of the available global games, like running their own poker tournament, setting out their own rules, minimum pot size, their own "host's cut". In the near future, using smart contracts and oracles, Unilot players should be able to create their own betting pools and totalizers.
          .col-md-4
            img(src="img/whitepaper/unilot-platform.png")

    section.numbered#s4-business-model.white
      .container
        .row.heading.text-bg
          .col-md-12
            h2 Unilot Business Model
            span Unilot Business Model
    section#s4-1.pull-up
      .container
        .row.sub.heading
          .col-md-12
            h3 Primary Revenue Generation Model
        .row.content
          .col-md-12
            p For all available global games, Unilot retains a tiny fraction of game winnings and game antes where games have an an ante or entry fee. Unilot also retains a small percentage every time Unilots are exchanged; those proceeds are then distributed among Unilot token holders based on proof-of-stake mechanism.
            p For hosted games and white label games Unilot collects a setup fee or offers service level agreement to larger hosts. In certain instances, owners of hosted games and white label companies (the originators) when spinning off their own games may want to have Unilot owners (the backers) auction, loan, or put forth their own Unilots to fully or partially fund those hosted games. In exchange, the backers may receive additional revenues or incentives from the originators even if the backers don't end up playing that particular game.
            p Regardless of the arrangement, the fees Unilot retains in global games or as part of setup fees in white label and hosted games are seamless, transparent and not interrupting to the gaming process.
    section#s4-2
      .container
        .row.sub.heading
          .col-md-12
            h3 Secondary Revenue Generation Models
        .row.content
          .col-md-12
            .row#s4-2-1
              .col-md-12
                h4 Advertising Revenues
                p To recognize and incentivize random or most valued players, Unilot intends to raffle tokens as well as physical prizes. Unilot is actively building partnerships with advertisers interested in promoting products, brands, and causes through product placements. Unilot aims to market product placement opportunities and calculate advertising fees based on the audience's geographic and demographic parameters.
                p Faithful to its mission to further fairness and common benefit, Unilot intends to not only run commercial product placements, but also provide a centerstage for philanthropic causes, including fundraisers for meaningful social causes.
            .row#s4-2-2
              .col-md-12
                h4 Affiliate Marketing
                p Like any platform that benefits from active market participation, Unilot has active plans to implement traditional affiliate marketing programs. Those would include incentivising and rewarding referrals, reviews offered by content providers, and introduction of miscellaneous individual and institutional investment prospects. 
            .row#s4-2-3
              .col-md-12
                h4 Additional Merchandising
                p Unilot recognizes the value and opportunity of engaging global audiences and making play easy and fun. Being able to accept conventional currencies is a major part of this solution, as many people worldwide are still poorly familiar with concept of cryptocurrencies. Aiming to encourage the use of its platform for individual betting and create a strong global and diverse presence, Unilot currently develops the feature that allows accepting funds in local currencies placed on physical and digital gift cards. Such gift cards can be sold throughout small retail places and used by their recipients as conventional lottery tickets.

    section.numbered#s5-technology.white
      .container
        .row.heading.text-bg
          .col-md-12
            h2 Technology &amp; Transparency
            span Technology &amp; Transparency
    section#s5-1.pull-up
      .container
        .row.sub.heading
          .col-md-12
            h3 Unilot Gameplay Logistics:
        .row.content
          .col-md-12
            .row#s5-1-1
              .col-md-12
                h4 Smart Contracts
                p Use of smart contracts on Ethereum network significantly simplifies running the games, their integrity, and inviolability of their outcome. Some basic examples of those Smart Contracts can run ladders in tournaments or sets of individual table rules like seat assignments, escrowing funds, and distribution of payouts.
            .row#s5-1-2
              .col-md-12
                h4 Identity Management
                p Through its smart geosensing and public anonymity achievable on blockchain, Unilot provides an intelligent solution to the dilemma of user privacy and legality in user identity management.
                p Part of our commitment to providing quality gaming network, includes embedding of solutions like uPort#[a(href="#footnote-tech" title="See footnote") #[sup.footnote-ref#ref-tech]] or similar options as they become available. We very well know that a good game should not be interrupted by bots, fake accounts, and other unwanted spam. Therefore security and great uninterrupted experience are on the top of our priority list.
            .row#s5-1-3
              .col-md-12
                h4 Gameplay Consensus, Client Synchronization, and Log Storage
                p Unilot uses Mental Poker algorithm that produces a consensus through a Byzantine Fault Tolerant Consensus Mechanism for games that require shuffling. Simultaneously, peer-to-peer messaging ensures game's critical-and-sufficient synchronization across multiple mobile clients. For all in-game activity, Unilot runs a time-series log stored on IPFS for both compliance and technical purposes.
    section#s5-2
      .container
        .row.sub.heading
          .col-md-12
            h3 Unilot Business Intelligence Suite
        .row.content
          .col-md-12
            p Truthful to our mission, we design Unilot to become a truly global gambling and betting platform transcending geographic and demographic barriers to cater a unique personalized experience to every player. The use of Ethereum network and smart contracts yields a transparent record of game results data, which we deliberately keep open for public to review and analyze.
            p Parallel to data produced on main stack, we are also building Unilot Artificial Intelligence solution to observe systems performance and improve user experience. AI's mission is to help users feel informed and empowered with best relevant data, like gaming odds, curated interpretation of gaming trends, or provide assistant functions to UI.
            p.footnote#footnote-tech
              a(href="#ref-tech" title="Back to text")
                sup
              small 
                a(href="https://www.uport.me/" target="_blank") https://www.uport.me/

    section.numbered#s6-client.white
      .container
        .row.heading.text-bg
          .col-md-12
            h2 Unilot Mobile Wallet &amp; Gaming Client
            span Unilot Mobile Wallet &amp; Gaming Client
        .row.content
          .col-md-6
            p All Unilot global or hosted games can be run on Unilot mobile client, specifically designed to handle all components of peer-to-peer communication from initiating and joining games to performing the required blockchain actions, like using a Mental Poker protocol for cards shuffling. Unilot mobile client also runs a so-called light wallet to facilitate escrow, ensure instant payout on winnings, and keep game ante and wins separate from player's stash. In subsequent releases, light wallet would also offer instant conversion feature to other cryptocurrencies from Unilots.
            p Currently, the mobile client is built for iOS and Android only, and offers smart region selection and localization.
          .col-md-6
            img(src="img/whitepaper/unilot-platform-front.png").img-responsive

    section.numbered#s7-roadmap.roadmap.white
      .container
        .row.heading.text-bg
          .col-md-12
            h2 Product Roadmap
            span Roadmap
        include include/roadmap

    section.numbered#s8-sale.white
      .container
        .row.heading.text-bg
          .col-md-12
            h2 Token Sale
            span Token Sale
    section#s8-1.pull-up
      .container
        .row.sub.heading
          .col-md-12
            h3 Presale Stage
        .row.content
          .col-md-12
            table.table.table-bordered
              tr
                th Start Date
                td January 10th, 2018, at 12:00 PM New York / 16:00 UTC / 17:00 London / 17:00 CET / 19:00 Moscow / 21:30 Mumbai / 00:00 Shanghai, UTC +8 / 01:00 Tokyo, UTC +9
              tr
                th End Date
                td February 10th, 2018, at 12:00 PM New York / 16:00 UTC / 17:00 London / 17:00 CET / 19:00 Moscow / 21:30 Mumbai / 00:00 Shanghai, UTC +8 / 01:00 Tokyo, UTC +9
              tr
                th Token Sale Cap
                td #[strong #[span.nowrap 25 000 000]] UNIT tokens
              tr
                th Currency Accepted
                td ETH
              tr
                th Bonus
                td 40%
              tr
                th Exchange Rate #[a(href="#footnote-sale" title="See footnote") #[sup.footnote-ref.footnote-star]]
                td 1 ETH = #[span.nowrap 12 658] UNIT Tokens + (#[strong 40% bonus])
              tr
                th Minimum Transaction
                td 1 UNIT Tokens (0.000079 ETH)
              tr
                th Maximum Transaction #[a(href="#footnote-sale" title="See footnote") #[sup.footnote-ref.footnote-star]]
                td #[span.nowrap 379 746] Tokens (30 ETH)
    section#s8-2
      .container
        .row.sub.heading
          .col-md-12
            h3 ICO Stage 1
        .row.content
          .col-md-12
            table.table.table-bordered
              tr
                th Start Date
                td February 15th, 2018, at 12:00 PM New York / 16:00 UTC / 17:00 London / 17:00 CET / 19:00 Moscow / 21:30 Mumbai / 00:00 Shanghai, UTC +8 / 01:00 Tokyo, UTC +9
              tr
                th End Date
                td March 15th, 2018, at 12:00 PM New York / 16:00 UTC / 17:00 London / 17:00 CET / 19:00 Moscow / 21:30 Mumbai / 00:00 Shanghai, UTC +8 / 01:00 Tokyo, UTC +9  
              tr
                th Token pre-sale 1
                td #[strong #[span.nowrap 5 000 000]] UNIT tokens + (#[strong 35% bonus])
              tr
                th Token pre-sale 2
                td #[strong #[span.nowrap 5 000 000]] UNIT tokens + (#[strong 30% bonus])
              tr
                th Token pre-sale 3
                td #[strong #[span.nowrap 5 000 000]] UNIT tokens + (#[strong 25% bonus])
              tr
                th Token pre-sale 4
                td #[strong #[span.nowrap 5 000 000]] UNIT tokens + (#[strong 20% bonus])
              tr
                th Token Sale Cap
                td #[strong #[span.nowrap 122 500 000]] UNIT tokens
              tr
                th Currency Accepted
                td ETH
              tr
                th Exchange Rate #[a(href="#footnote-sale" title="See footnote") #[sup.footnote-ref.footnote-star]]
                td 1 ETH = #[span.nowrap 12 658] UNIT Tokens
              tr
                th Minimum Transaction
                td 1 UNIT Tokens (0.000079 ETH)
              tr
                th Maximum Transaction #[a(href="#footnote-sale" title="See footnote") #[sup.footnote-ref.footnote-star]]
                td #[span.nowrap 379 746] Tokens (30 ETH)
    section#s8-3
      .container
        .row.sub.heading
          .col-md-12
            h3 ICO Stage 2
        .row.content
          .col-md-12
            table.table.table-bordered
              tr
                th Start Date
                td April 20th, 2018, at 12:00 PM New York / 16:00 UTC / 17:00 London / 17:00 CET / 19:00 Moscow / 21:30 Mumbai / 00:00 Shanghai, UTC +8 / 01:00 Tokyo, UTC +9
              tr
                th End Date
                td May 20h, 2018, at 12:00 PM New York / 16:00 UTC / 17:00 London / 17:00 CET / 19:00 Moscow / 21:30 Mumbai / 00:00 Shanghai, UTC +8 / 01:00 Tokyo, UTC +9
              tr
                th Token Sale Cap
                td #[strong #[span.nowrap 142 500 000]] UNIT tokens + unsold tokens from preICO and ICO stage 1 (without bonus)
              tr
                th Currency Accepted
                td ETH
              tr
                th Exchange Rate #[a(href="#footnote-sale" title="See footnote") #[sup.footnote-ref.footnote-star]]
                td 1 ETH = #[span.nowrap 12 658] UNIT Tokens
              tr
                th Minimum Transaction
                td 1 UNIT Tokens (0.000079 ETH)
              tr
                th Maximum Transaction #[a(href="#footnote-sale" title="See footnote") #[sup.footnote-ref.footnote-star]]
                td #[span.nowrap 379 746] Tokens (30 ETH)
            p.footnote.footnote-star#footnote-sale
              sup
              small - was rounded to the whole number. The calculations in contract will be carried out to 18 decimal places
            

    section.numbered#s9-distribution.white
      .container
        .row.heading.text-bg
          .col-md-12
            h2 Token Distribution and Use of Funds
            span Token Distribution and Use of Funds
        .row.pull-up
          .col-md-6#s9-1.function
            .row.sub.heading
              .col-md-12
                h3 Token Distribution
            .row.content
              .col-md-12
                include include/token-distribution
          .col-md-6#s9-2.function
            .row.sub.heading
              .col-md-12
                h3 Use of Funds
            .row.content
              .col-md-12
                include include/use-of-funds

    section.numbered#s10-team.team.white
      .container
        .row.heading.text-bg
          .col-md-12
            h2 The Project Team
            span The Project Team
        .row.content.center-xs
          include include/team

    section.numbered#s11-advisors.white
      .container
        .row.heading.text-bg
          .col-md-12
            h2 Advisory Board
            span Advisory Board
        .row.content
          include include/advisors

    section.numbered#s12-contact.document.dark
      .container
        .row.heading.text-bg
          .col-md-12
            h2 Contact Us
            span Contacts
        .row.content
          address.col-md-12.text-center
            p Please, visit our site at:
            p
              a(href="http://unilot.io/" target="_blank") unilot.io
            .line
            p Our company info:
            p.larger Unilot Ltd.
            p.subtle 23, Old Railway Road, Santa Venera, Malta.
            p.subtle
              a(href="mailto:info@unilot.io" target="_blank") info@unilot.io
            .line
            p If you have some urgent issue please contact:
            .card.person
              .photo
                img(src="img/whitepaper/darya-kadirova.png")
              .info
                h5.name Darya Kadirova
                .position.subtle Marketing Manager
                a(href="mailto:darya@unilot.io" target="_blank").email darya@unilot.io
            p Follow us and Stay tuned:
            include include/networks

    section#acknowledgments.document
      .container
        .row.content.text-center
          .col-md-8.col-md-offset-2.col-xs-12
            img(src="img/whitepaper/you-won.png")
          .col-md-8.col-md-offset-2.col-xs-12
            h2 Acknowledgements:
            p We would like to thank anyone not directly mentioned in this white paper in supporting and assisting us over all this time. We also want to thank the entire blockchain community for laying the ground base over the past 8 years to make Unilot possible.
          .col-md-8.col-md-offset-2.col-xs-12
            img(src="img/logo-header.svg").logo
            p
              small WHITE PAPER &copy; 2018