extends include/layout.pug
block content
  section.document.white
    .container
      .row.heading
        .col-md-12
          h2 Unilot White Paper
          p 2018 | Ver 1.0
      .row.content
        .col-md-12
          figure
            blockquote
              h4 Dear Gamers, Dear Investors,
              p Unilot appeared as a unique amalgam of bold vision, revolutionary ideas, social experiment, and elegant application of cutting edge technology. Unilot is driven by an important social mission in its core: to build the world's most transparent, secure, and diverse betting platform. Made possible by the advent of Blockchain, Unilot launches a truly universal arena to gambling, betting, and prognostication. It is there to leverage the players' abilities and creativity while providing the atmosphere of safety and integrity far beyond those found in modern gambling.
              p We believe that the house does not always have to win. That is why in Unilot, we decided not to have a House for our players to compete against. We believe that math doesn't lie and can make cheating impossible. That is why we offer our players a pure chance to wager against each other's odds, We believe that sharing is truly caring. Thus we offer freedom of choice and multiple second chances and consolation rounds to all members of our community. While we believe in respecting the laws of the land, we also believe in people's fundamental right to make their own judgement when to try their luck as well as enjoy the opportunity to create their own rules when making a bet.
              p Unilot may seem like a magical little playground that resides on your phone or computer screen, but it opens a door to the place, where the whole world comes together for a fun and engaging experience with odds never rigged unless they are occasionally stacked into players' favor.
              p We pledge to review any community's feedback and keep the records open for anyone to audit building trust and openness standards like never before.
              p Dive in, read about us, talk to us, play with us and have fun!
            figcaption
              img(src="img/whitepaper/ilya-sohn.png" alt="Ilya Sohn, CEO")

  section.document.dark
    .container
      .row.heading.text-bg
        .col-md-12
          h2 Abstract
          span Abstract
      .row.content
        .col-md-6
          p Unilot uses blockchain to run a decentralized universal gambling platform for players to bet, host, and in future create their own games ranging from pure chance lotteries, to poker tournaments, and prognostication-based totalizers. We are working to make Unilot available on the Web, iOS and Android and in multiple languages in addition to current English and Russian.
          p To facilitate the exchange, Unilot platform transacts in its own currency “Unilots” while accepting most cryptocurrencies and other legal means of tender in appropriate jurisdictions. The purpose of this White Paper is to demonstrate Unilot’s technology and solutions it offers, as well as demonstrate the mature business expertise behind the founding team’s vision.
        .col-md-6
          img(src="img/client.png")

  section#toc.document.white
    .container
      .row.heading.text-bg
        .col-md-12
          h2 Table of Contents
          span Table of Contents
      .row.content
        .col-md-6
          ol.numbered
            li
              a(href="#s1-introduction") Introduction
            li
              a(href="#s2-market") Market and Industry
            li
              a(href="#s3-product") Product Details
              ul.bulleted.nested
                li
                  a(href="#s3-1") Unilot Features &amp; Benefits
                li
                  a(href="#s3-2") Unilot Games
                  ul.bulleted.nested
                    li
                      a(href="s3-2-1") Global Games
                    li
                      a(href="s3-2-2") Hosted Games
            li
              a(href="#s4-business-model") Unilot Business Model
              ul.bulleted.nested
                li
                  a(href="#s4-1") Primary Revenue Generation Model
                li
                  a(href="#s4-2") Secondary Revenue Generation Models
                  ul.bulleted.nested
                    li
                      a(href="s4-2-1") Advertising Revenues
                    li
                      a(href="s4-2-2") Affiliate Marketing
                    li
                      a(href="s4-2-3") Additional Merchandising
            li
              a(href="#s5-technology") Technology &amp; Transparency
              ul.bulleted.nested
                li
                  a(href="#s5-1") Unilot Gameplay Logistics
                  ul.bulleted.nested
                    li
                      a(href="s5-1-1") Smart Contracts
                    li
                      a(href="s5-1-2") Identity Management
                    li
                      a(href="s5-1-3") Gameplay Consensus, Client Synchronization, and Log Storage
                li
                  a(href="#s5-2") Unilot Business Intelligence Suite
            li
              a(href="#s6-client") Unilot Mobile Wallet &amp; Gaming Client
            li
              a(href="#s7-roadmap") Product Roadmap
        .col-md-6
          ol#wp-toc-continue
            li
              a(href="#s8-sale") Token Sale
              ul.bulleted.nested
                li
                  a(href="#s8-1") Presale Stage
                li
                  a(href="#s8-2") ICO Stage 1
                li
                  a(href="#s8-3") ICO Stage 2
            li
              a(href="#s9-distribution") Token Distribution and Use of Funds
            li
              a(href="#s10-team") The Project Team
            li
              a(href="#s11-advisors") Advisory Board
            li
              a(href="#s12-contact") Contact Us
          img(src="img/about.png")