extends include/layout.pug
block content
  section.document.white
    .container
      .row.heading
        .col-md-12
          h2 Unilot White Paper
          p 2018 | Ver 1.0
      .row.content
        .col-md-12
          figure
            blockquote
              h4 Dear Gamers, Dear Investors,
              p Unilot appeared as a unique amalgam of bold vision, revolutionary ideas, social experiment, and elegant application of cutting edge technology. Unilot is driven by an important social mission in its core: to build the world's most transparent, secure, and diverse betting platform. Made possible by the advent of Blockchain, Unilot launches a truly universal arena to gambling, betting, and prognostication. It is there to leverage the players' abilities and creativity while providing the atmosphere of safety and integrity far beyond those found in modern gambling.
              p We believe that the house does not always have to win. That is why in Unilot, we decided not to have a House for our players to compete against. We believe that math doesn't lie and can make cheating impossible. That is why we offer our players a pure chance to wager against each other's odds, We believe that sharing is truly caring. Thus we offer freedom of choice and multiple second chances and consolation rounds to all members of our community. While we believe in respecting the laws of the land, we also believe in people's fundamental right to make their own judgement when to try their luck as well as enjoy the opportunity to create their own rules when making a bet.
              p Unilot may seem like a magical little playground that resides on your phone or computer screen, but it opens a door to the place, where the whole world comes together for a fun and engaging experience with odds never rigged unless they are occasionally stacked into players' favor.
              p We pledge to review any community's feedback and keep the records open for anyone to audit building trust and openness standards like never before.
              p Dive in, read about us, talk to us, play with us and have fun!
            figcaption
              img(src="img/whitepaper/ilya-sohn.png" alt="Ilya Sohn, CEO")

  section.document.dark
    .container
      .row.heading.text-bg
        .col-md-12
          h2 Abstract
          span Abstract
      .row.content
        .col-md-6
          p Unilot uses blockchain to run a decentralized universal gambling platform for players to bet, host, and in future create their own games ranging from pure chance lotteries, to poker tournaments, and prognostication-based totalizers. We are working to make Unilot available on the Web, iOS and Android and in multiple languages in addition to current English and Russian.
          p To facilitate the exchange, Unilot platform transacts in its own currency “Unilots” while accepting most cryptocurrencies and other legal means of tender in appropriate jurisdictions. The purpose of this White Paper is to demonstrate Unilot’s technology and solutions it offers, as well as demonstrate the mature business expertise behind the founding team’s vision.
        .col-md-6
          img(src="img/client.png")

  section#toc.document.white
    .container
      .row.heading.text-bg
        .col-md-12
          h2 Table of Contents
          span Table of Contents
      .row.content
        .col-md-6
          ol.numbered
            li
              a(href="#s1-introduction") Introduction
            li
              a(href="#s2-market") Market and Industry
            li
              a(href="#s3-product") Product Details
              ul.bulleted.nested
                li
                  a(href="#s3-1") Unilot Features &amp; Benefits
                li
                  a(href="#s3-2") Unilot Games
                  ul.bulleted.nested
                    li
                      a(href="s3-2-1") Global Games
                    li
                      a(href="s3-2-2") Hosted Games
            li
              a(href="#s4-business-model") Unilot Business Model
              ul.bulleted.nested
                li
                  a(href="#s4-1") Primary Revenue Generation Model
                li
                  a(href="#s4-2") Secondary Revenue Generation Models
                  ul.bulleted.nested
                    li
                      a(href="s4-2-1") Advertising Revenues
                    li
                      a(href="s4-2-2") Affiliate Marketing
                    li
                      a(href="s4-2-3") Additional Merchandising
            li
              a(href="#s5-technology") Technology &amp; Transparency
              ul.bulleted.nested
                li
                  a(href="#s5-1") Unilot Gameplay Logistics
                  ul.bulleted.nested
                    li
                      a(href="s5-1-1") Smart Contracts
                    li
                      a(href="s5-1-2") Identity Management
                    li
                      a(href="s5-1-3") Gameplay Consensus, Client Synchronization, and Log Storage
                li
                  a(href="#s5-2") Unilot Business Intelligence Suite
            li
              a(href="#s6-client") Unilot Mobile Wallet &amp; Gaming Client
            li
              a(href="#s7-roadmap") Product Roadmap
        .col-md-6
          ol#wp-toc-continue
            li
              a(href="#s8-sale") Token Sale
              ul.bulleted.nested
                li
                  a(href="#s8-1") Presale Stage
                li
                  a(href="#s8-2") ICO Stage 1
                li
                  a(href="#s8-3") ICO Stage 2
            li
              a(href="#s9-distribution") Token Distribution and Use of Funds
            li
              a(href="#s10-team") The Project Team
            li
              a(href="#s11-advisors") Advisory Board
            li
              a(href="#s12-contact") Contact Us
          img(src="img/about.png")

  section#s1-introduction.document.white
    .container
      .row.heading.text-bg
        .col-md-12
          h2 Introduction
          span Introduction
      .row.content
        .col-md-12
          p With online gambling market projected to reach nearly $60B by 2020#[a(href="#footnote-intro" title="See footnote") #[sup.footnote-ref#ref-intro]], both the quickly-evolving regulatory landscape and criminal practices turn away consumers reducing their trust and peace of mind. Here at Unilot, we made it our strategic priority to successfully tackle regulatory limitations that vary drastically from one jurisdiction to another, and mitigate consumer mistrust.
          p To deal with regulations, games offered through Unilot will vary based on the player's geographic location. We are building an intelligent system capable of detecting which games to offer and which ones to lock. Furthermore, Unilot continues to secure licenses in various jurisdictions to expand its user-base.
          p Unilot leverages decentralized gaming on blockchain to effectively address consumer mistrust, featuring some core fair-play fundamentals:
        .col-md-7
          ol.roman     
            li Unilot runs on Smart Contacts to keep games' records open and transparent and players' funds in independent escrow, outside Unilot's reach
            li Unilot explicitly eliminated the possibility of having a view access to the deck, thus preventing so-called "God Mode" that plagued online gaming industry for years.
            li Our goal is to reinvigorate online gambling with Ethereum blockchain, radically improving end-user experience through player-self-managed identification, absurdly low fees, and inviolable guarantee of instant pay on winnings.
          p.footnote#footnote-intro
            a(href="#ref-intro" title="Back to text")
              sup
            small See more detailed summary and explanation to figures at: #[a(href="https://www.statista.com/statistics/270728/market-volume-of-online-gaming-worldwide/" target="_blank") https://www.statista.com/statistics/270728/market-volume-of-online-gaming-worldwide/]
        .col-md-5.col-xs-12.text-center
          img(src="img/sentence.png")

  section#s2-market.document.white
    .container
      .row.heading.text-bg
        .col-md-12
          h2 Market and Industry
          span Market and Industry
      .row.content
        .col-md-12
          p Online gambling industry has been plagued by inability to tackle high tech cheating and lack of transparency. To name a few, 2008 and 2011 online poker scandals led to online gambling bans in some countries.
          p Though it was off to a rocky start, online gambling is well poised to become the gambling industry's fastest-growing sector, and accounts for 11% of the $385B of gambling profits posted in 2016. These numbers are only set to grow as regulations worldwide are loosening their stance toward online betting.
          p According to H2 Gambling Capital, total revenues in 2016 from online gambling posted staggering $44B with online betting responsible for nearly a half of the total amount#[a(href="#footnote-market" title="See footnote") #[sup.footnote-ref#ref-market]]. Market projections show this number to grow to $47.4 Billion USD in 2017 and over $60 billion by 2020. 
      .row.content
        .col-md-4.col-md-offset-1.col-xs-12
          table.table.table-bordered
            tbody
              tr
                td.legend
                  span.red
                td Bingo
                td $2
              tr
                td.legend
                  span.yellow
                td Logical
                td $2.2
              tr
                td.legend
                  span.blue
                td Poker
                td $2.75
              tr
                td.legend
                  span.green
                td Lottery
                td $3.85
              tr
                td.legend
                  span.mint
                td Betting
                td $11.8
              tr
                td.legend
                  span.purple
                td Casino
                td $21.4
            tfoot
              tr
                td.legend
                td Total
                td $44
        .col-md-6.col-md-offset-1.text-center
          img(src="img/whitepaper/online-gambling-market.png", alt="Total revenues in 2016 from online gambling")
      .row.content
        .col-md-6.text-center
          img(src="img/whitepaper/daily-drawing.png")
        .col-md-6
          p Unilot is designed with a product diversity in mind. Its platform will feature a broad range of gambling venues from specific games to prognostication-based betting in compliance with specific jurisdiction regulations on games and currencies. Unilot mobile client already comes with a fully functional lottery. Next games slated for rollout are Poker and Bingo.
          p Unilot aims to get licensed in every jurisdiction open to online gambling & and lottery as it expands its user-base. Unilot launch will include licensing from Malta Remote Gaming License on March 2018 #[br]
            a(href="http://www.mga.org.mt/gaming-sectors/remote-gaming/" target="_blank") http://www.mga.org.mt/gaming-sectors/remote-gaming/
          p.footnote#footnote-market
            a(href="#ref-market" title="Back to text")
              sup
            small 
              a(href="http://h2gc.com/" target="_blank") http://h2gc.com/

  section#s3-product.document.white
    .container
      .row.heading.text-bg
        .col-md-12
          h2 Product Details
          span Product Details
      .row.content

  section#s4-business-model.document.white
    .container
      .row.heading.text-bg
        .col-md-12
          h2 Unilot Business Model
          span Unilot Business Model
      .row.content

  section#s5-technology.document.white
    .container
      .row.heading.text-bg
        .col-md-12
          h2 Technology &amp; Transparency
          span Technology &amp; Transparency
      .row.content

  section#s6-client.document.white
    .container
      .row.heading.text-bg
        .col-md-12
          h2 Unilot Mobile Wallet &amp; Gaming Client
          span Unilot Mobile Wallet &amp; Gaming Client
      .row.content

  section#s7-roadmap.document.white
    .container
      .row.heading.text-bg
        .col-md-12
          h2 Product Roadmap
          span Product Roadmap
      .row.content

  section#s8-sale.document.white
    .container
      .row.heading.text-bg
        .col-md-12
          h2 Token Sale
          span Token Sale
      .row.content

  section#s9-distribution.document.white
    .container
      .row.heading.text-bg
        .col-md-12
          h2 Token Distribution and Use of Funds
          span Token Distribution and Use of Funds
      .row.content

  section#s10-team.document.white
    .container
      .row.heading.text-bg
        .col-md-12
          h2 The Project Team
          span The Project Team
      .row.content

  section#s11-advisors.document.white
    .container
      .row.heading.text-bg
        .col-md-12
          h2 Advisory Board
          span Advisory Board
      .row.content

  section#s12-contact.document.dark
    .container
      .row.heading.text-bg
        .col-md-12
          h2 Contact Us
          span Contact Us
      .row.content

  section#acknowledgments.document
    .container
      .row.content.text-center
        .col-md-8.col-md-offset-2
          img(src="img/whitepaper/you-won.png")
        .col-md-8.col-md-offset-2
          h2 Acknowledgements:
          p We would like to thank anyone not directly mentioned in this white paper in supporting and assisting us over all this time. We also want to thank the entire blockchain community for laying the ground base over the past 8 years to make Unilot possible.
        .col-md-8.col-md-offset-2
          img(src="img/logo-header.svg").logo
          p
            small WHITE PAPER &copy; 2018