@import "color.sass"
.footer
	position: relative
	background: $black
	.heading
		padding-bottom: 60px
		h2
			color: $white
		span
			font-size: 160px
			font-family: "GothamProBold"
			position: absolute
			top: 52px
			right: 0
			z-index: 1
			background: linear-gradient(to right, #000000, #141414, #1a1a1a)
			-webkit-background-clip: text
			color: transparent
			@media(max-width: 767px)
				display: none
	.form
		input
			width: 95%
			border: none
			border-bottom: 2px solid #999999
			outline: none
			background: none
			color: #999999
			transition: all 0.3s
			padding: 10px 0
			margin-bottom: 25px
			@media(max-width: 767px)
				width: 100%
			&:focus
				border-bottom: 2px solid #623be9
		textarea
			width: 100%
			border: none
			border-bottom: 2px solid #999999
			outline: none
			background: none
			color: #999999
			transition: all 0.3s
			padding: 10px 0
			margin-bottom: 25px
			height: 18px
			&:focus
				border-bottom: 2px solid #623be9
		p
			font-size: 12px
			font-weight: 400
			color: #666666
			text-transform: uppercase
	.btn
		width: 100%
		padding: 10px 0
		@media(max-width: 767px)
			margin-top: 20px
	&__top
		margin-top: 80px
		.row:first-child
			margin-bottom: 50px
	
	&__bottom
		.row
			> div
				margin: 2em 0
	
	&__logo
		img
			height: 27px
		p
			font-size: 13px
			font-weight: 400
			color: $gray
			margin-top: 20px

	.ethereum-logo
		img
			height: 4em

	&__nav
		ul
			margin: 0
			padding: 0
			li
				display: inline-block
				margin-left: 20px
				line-height: 1.5em
				a
					color: $white
					font-size: 0.8em
					top: -2px
					padding: 0
				a:hover
					text-decoration: underline