.form
  input
    width: 95%
    border: none
    border-bottom: 2px solid #999999
    outline: none
    background: none
    color: #999999
    transition: all 0.3s
    padding: 10px 0
    margin-bottom: 25px
    @media(max-width: 767px)
      width: 100%
    &:focus
      border-bottom: 2px solid #623be9
  textarea
    width: 100%
    border: none
    border-bottom: 2px solid #999999
    outline: none
    background: none
    color: #999999
    transition: all 0.3s
    padding: 10px 0
    margin-bottom: 25px
    height: 18px
    &:focus
      border-bottom: 2px solid #623be9

.form-group
  &.has-error
    &.has-danger
      color: $red
      *
        color: $red
      input
        border-bottom: 2px solid $red
  label
    color: $gray-label
    font-weight: 400
    text-transform: uppercase
  .help-block
    color: $gray
    font-size: 0.8em

.alert
  display: block
  background: none
  padding: 0.5em
  margin-bottom: 0.5em
  width: 100%

  &.alert-danger
    color: $red
  &.alert-warning
    color: $chart-yellow
  &.alert-success
    color: $chart-green

button
  border: none
  padding: 1em
