$tab-height: 60px
$wb-border-radius: 15px //white block border radius
$tab-content-text-color: #333

@mixin tab-heading
  font-family: 'GothamProMedium'
  font-size: 22.4px
  line-height: $tab-height


.token-details
  height: 750px
  @media (max-width: 1140px)
    height: 800px
  @media (max-width: 1039px)
    height: 1150px
  @media (max-width: 669px)
    height: 1170px
  @media (max-width: 659px)
    height: 1230px
  @media (max-width: 600px)
    height: auto
    padding-bottom: 40px
  &.ru-ru
    height: 850px
    @media (max-width: 1140px)
      height: 900px
    @media (max-width: 1039px)
      height: 1250px
    @media (max-width: 669px)
      height: 1270px
    @media (max-width: 659px)
      height: 1330px
    @media (max-width: 600px)
      height: auto
      padding-bottom: 40px


  .heading span
    &::after
      display: block
      position: absolute
      top: 20px
      right: 125px
      width: 190px
      height: 160px
      background-image: url('../img/coins.png') !important
      background-size: cover
      content: ''

.tab-wrapper
  margin-top: 100px
  z-index: 5

.nav-tabs
  display: flex
  height: $tab-height
  box-sizing: border-box
  @media (max-width: 600px)
    display: none


  li
    position: relative

    a
      @include tab-heading
      display: block
      padding: 0 25px
      border-radius: $wb-border-radius $wb-border-radius 0 0
      color: #bcabff
      white-space: nowrap

  .active
    a
      background-color: $white
      color: $black

  li:not(.active):hover
    a
      background-color: #dbdde2
      color: #999

  // cover rounded corner if active or hovered tab is above
  .active::after,
  li:hover::after
    display: block
    position: absolute
    width: 100%
    height: $wb-border-radius
    background-color: $white
    content: ''
    z-index: -1

.tab-content
  display: block
  padding: 1em
  border-radius: $wb-border-radius
  background-color: $white

  .table
    margin: 0

    td
      color: $tab-content-text-color
      font-size: 17px
      vertical-align: top

      &:first-child
        width: 210px  // align 2nd cell with 2nd tab
        padding-left: 10px // align 1st cell with 1st tab

    p
      margin: 0 0 1em
      padding: 0
      color: $tab-content-text-color
      font-size: inherit
      line-height: 1.2em

.tab-pane
  display: none
  padding: 20px 0

  @media (max-width: 600px)
    display: block
    padding: 10px 0

    .table
      td:first-child
        max-width: 100px
        padding-right: 10px

  &.ico-stage-details > h3
    display: none
    @media (max-width: 600px)
      @include tab-heading
      padding-left: 10px
      color: $black
      display: block


.tab-pane.active
  display: block
